{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'dt/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/assets_list.css' %}"/>

<script type="text/javascript" src="{% static 'dt/datatables.min.js' %}"></script>
<div class="container mt-5">
   <h1 class="text-center text-primary">Asset List</h1>

    <table id="asset" class="table table-striped table-hover table-bordered">
        <thead class="bg-primary text-white">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Location</th>
            <th>Condition</th>
            <th>Quantity</th>
        </tr>
        </thead>
        {% if object_list %}
        <tbody>
          {% for asset in object_list %}
          <tr>
              <td><a href="{{ asset.get_absolute_url }}" class="text-primary">{{ asset.name }}</a></td>
              <td>{{ asset.category }}</td>
              <td>{{ asset.location }}</td>
              <td>{{ asset.condition }}</td>
              <td>{{ asset.quantity }}</td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <tbody>
          <tr>
            <td colspan="4" class="text-center">There are no assets in the list.</td>
          </tr>
        </tbody>
        {% endif %}
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#asset').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[25, 40, 60, -1], [25, 40, 60, "All"]],
            "bProcessing": true
        });
    });
</script>
{% endblock %}
