<!-- templates/catalog/asset_detail.html -->
{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">Asset Details</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ asset.name }}</h5>
                    <p class="card-text"><strong>Asset ID:</strong> {{ asset.id }}</p>
                    <p class="card-text"><strong>Category:</strong> {{ asset.category }}</p>
                    <p class="card-text"><strong>Location:</strong> {{ asset.location }}</p>
                    <p class="card-text"><strong>Condition:</strong> {{ asset.condition }}</p>
                    <!-- Display QR code if it exists -->
                    {% if asset.qr_code %}
                        <div class="text-center mt-4">
                            <img src="{{ asset.qr_code.url }}" alt="QR Code" class="img-fluid" style="max-width: 200px;">
                        </div>
                    {% endif %}
                </div>
                <div class="card-footer d-flex justify-content-between py-3 px-4">
                    <a href="{% url 'catalog:asset-update' asset.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'catalog:asset-delete' asset.id %}" class="btn btn-danger">Delete</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
