{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'dt/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/devices_list.css' %}"/>

<script type="text/javascript" src="{% static 'dt/datatables.min.js' %}"></script>
<div class="container mt-5">
   <h1 class="text-center text-primary">Device List</h1>

    <table id="device" class="table table-striped table-hover table-bordered">
        <thead class="bg-primary text-white">
        <tr>
            <th>Hostname</th>
            <th>Customer</th>
            <th>Model</th>
            <th>S/N</th>
            <th>Asset Tag</th>
            <th>Status</th>
            <th>Substatus</th>
        </tr>
        </thead>
        {% if device_list %}
        <tbody>
          {% for device in device_list %}
          <tr>
              <td><a href="{{ device.get_absolute_url }}" class="text-primary">{{ device.hostname }}</a></td>
              <td>{{device.customer}}</td>
              <td>{{device.model}}</td>
              <td><a href="{{ device.get_absolute_url }}" class="text-primary">{{device.serialn}}</a></td>
              <td>{{device.tag}}</td>
              <td>{{device.status_verbose}}</td>
              <td>{{device.substatus_verbose}}</td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <tbody>
          <tr>
            <td colspan="7" class="text-center">There are no devices in the list.</td>
          </tr>
        </tbody>
        {% endif %}
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#device').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[25, 40, 60, -1], [25, 40, 60, "All"]],
            "bProcessing": true
        });
    });
</script>
{% endblock %}
