<!-- catalog/templates/catalog/login.html -->
{% extends "base_login.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% block content %}
    <div class="bg-soft-success">
        <div class="container content-space-1 content-space-t-md-3">
            <div class="mx-auto" style="max-width: 30rem;">
                <div class="card card-lg zi-2">
                    <div class="card-header text-center">
                        <h4 class="card-title">Log in</h4>
                        <p class="card-text">Don't have an account yet? <a class="link" href="{% url 'catalog:signup' %}">Sign up here</a></p>
                    </div>
                    <div class="card-body">
                        <form method="post" class="js-validate need-validate" novalidate>
                            {% csrf_token %}
                            <div class="d-grid">
                                <a class="btn btn-white btn-lg" href="{% url 'social:begin' 'google' %}">
                                    <span class="d-flex justify-content-center align-items-center">
                                        <img class="avatar avatar-xss me-2" src="{% static 'icon.svg' %}" alt="">
                                        Log in with Google
                                    </span>
                                </a>
                            </div>
                            <h4>OR</h4>
                            <div class="mb-4">
                                <label class="form-label" for="id_username">Your email or username</label>
                                <input type="email" class="form-control" name="username" id="id_username" placeholder="email@site.com" aria-label="email@site.com" required>
                                <span class="invalid-feedback">Please enter a valid email address.</span>
                            </div>
                            <div class="mb-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="form-label" for="id_password">Password</label>
                                    <a class="form-label-link" href="{% url 'catalog:password_reset' %}">Forgot Password?</a>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="js-toggle-password form-control" name="password" id="id_password" placeholder="8+ characters required" aria-label="8+ characters required" required data-hs-toggle-password-options='{"target": "#loginFormChangePassTarget", "defaultClass": "bi-eye-slash", "showClass": "bi-eye", "classChangeTarget": "#changePassIcon"}'>
                                    <a id="loginFormChangePassTarget" class="input-group-append input-group-text" href="javascript:;">
                                        <i id="changePassIcon" class="bi-eye"></i>
                                    </a>
                                </div>
                                <span class="invalid-feedback">Your password is invalid. Please try again.</span>
                            </div>
                            <div class="form-check mb-4">
                                <input type="checkbox" class="form-check-input" id="loginFormRememberMeCheck" name="remember_me">
                                <label class="form-check-label" for="loginFormRememberMeCheck"> Remember me</label>
                            </div>
                            <div class="d-grid mb-4">
                                <button type="submit" class="btn btn-primary btn-lg">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-container">
        <div class="shape shape-bottom zi-1">
            <svg viewBox="0 0 3000 1000" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1000V583.723L3000 0V1000H0Z" fill="#fff"/>
            </svg>
        </div>
    </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
