{% extends "base_login.html" %}
{% block content %}
<div class="container content-space-1 content-space-t-md-3">
  <div class="mx-auto" style="max-width: 30rem;">
    <div class="card card-lg zi-2">
      <div class="card-header text-center">
        <h4 class="card-title">Enter new password</h4>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Change my password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
