{% extends "base_login.html" %}
{% block content %}
<div class="container content-space-1 content-space-t-md-3">
  <div class="mx-auto" style="max-width: 30rem;">
    <div class="card card-lg zi-2">
      <div class="card-header text-center">
        <h4 class="card-title">Password Reset Sent</h4>
      </div>
      <div class="card-body">
        <p>An email has been sent with instructions to reset your password.</p>
      </div>
      <div class="text-center">
        <a class="btn btn-link" href="{% url 'catalog:login' %}">
          <i class="bi-chevron-left small me-1"></i> Back to log in
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
