{% extends "base_login.html" %}
{% block content %}
<div class="container content-space-1 content-space-t-md-3">
  <div class="mx-auto" style="max-width: 30rem;">
    <div class="card card-lg zi-2">
      <div class="card-header text-center">
        <h4 class="card-title">Password Reset Complete</h4>
      </div>
      <div class="card-body">
        <p>Your password has been set. You can now <a href="{% url 'catalog:login' %}">log in</a> with your new password.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
